{% extends 'base.html' %}

{% load static %}

{% block contenido %}


    <h1 align="center">Todo lo que sabemos de CoronaVac, la vacuna del laboratorio Sinovac en Chile</h1>
    <h3 align="center">Tras la polémica suscitada por las declaraciones de un funcionario de salud chino, que <br>
        señaló que las vacunas de ese país contra el Covid-19 "no tenían tasas de protección muy <br>
        altas" y que evaluaban nuevas fórmulas para reforzar su efectividad, expertos y autoridades <br>
        salieron a defender el medicamento de Sinovac, clave en la campaña de vacunación en el país. <br>
        <br>
    <img src="{% static '\Imagenes\coronavac.PNG' %}" alt="">
    <br>
        A este lunes 12 de abril, de las más de 14 millones de dosis recibidas, y <br>
        sumando personas vacunadas con 1° y 2º dosis, en Chile se han administrado <br>
        12.031.595 dosis, de una población objetivo de 15.200.840 personas, según el <br>
        Departamento de Estadísticas e Información de Salud (DEIS). Y de los vacunados<br>
         hasta ahora, 10.612.593 millones pertenecen a CoronaVac, del laboratorio chino <br>
         Sinovac.<br>
         <br>
        Esta cifra no sólo realza la importancia del medicamento chino en la campaña <br>
        vacunatoria en el país, sino también da cuenta de la preocupación que generaron <br>
        las declaraciones del jefe de la agencia china de control de enfermedades, Gao Fu, <br>
        quien este sábado señaló que las vacunas de ese país contra el Covid-19 no tenían <br>
        tasas de protección muy altas y que evaluaban nuevas fórmulas para reforzar su efectividad.<br>
        <br>
        Aunque posteriormente, el funcionario precisó que sus declaraciones fueron parte<br>
         de “un completo malentendido”, en los 17 países que hoy administran la vacuna <br>
         del laboratorio chino -incluyendo Chile- se generó una verdadera ola de <br>
         cuestionamientos al medicamento, todo en medio de una pandemia que no da tregua, <br>
         con 137 millones de casos y casi 3 millones de fallecidos a nivel mundial, sino <br>
         también con el alza de las diversas variantes del patógeno, que sobrepasan las 4 mil. <br>
         <br>
        “Punto crítico”<br>
        <br>
        De hecho, para la Organización Mundial de la Salud (OMS), la pandemia alcanzó un estatus <br>
        más complejo, con infecciones que crecen exponencialmente, aunque espera pueda ser controlado <br>
        en unos meses si se toman las medidas adecuadas.<br>
        <br>
        “Estamos en un punto crítico. La trayectoria de la pandemia está creciendo de forma <br>
        exponencial. No es la situación en la que queremos estar 16 meses después del inicio de <br>
        la pandemia, cuando disponemos de medidas de control eficaces”, dijo a la prensa Maria Van <br>
        Kerkhove, responsable técnica de la OMS en la lucha contra el virus.<br>
        <br>
        “No es la situación en la que queremos estar 16 meses después del inicio de la pandemia, <br>
        cuando disponemos de medidas de control eficaces”, agregó.<br>
        <br>
        “Es la séptima semana consecutiva de aumento de los casos, y la cuarta semana consecutiva <br>
        de aumento de las muertes”, destacó el director general de la OMS, Tedros Adhanom Ghebreyesus.<br>
        <br>
        Para Tedros, aunque la pandemia está “lejos de haber terminado”, hay razones para ser <br>
        optimistas, como la disminución del número de casos y de muertes durante los dos primeros <br>
        meses del año, lo cual demostró que el virus y sus variantes “pueden ser detenidos”.<br>
        <br>
        Y en relación a las vacunas chinas Sinopharm y Sinovac, el organismo dijo hoy que son confiables <br>
        en términos de seguridad y eficacia, pero aún falta información al respecto, debido a que se trata <br>
        de medicamentos dispuestos con autorización de emergencia, y los distintos estudios se van actualizando <br>
        a medida que pasan los días.<br>
        <br>
        Muy confiable<br>
        <br>
        Por otro lado, expertos insisten en los beneficios del medicamento chino administrado en el país. <br>
        Así lo expresó este lunes el ministro de Salud, Enrique Paris, señalando que “la vacuna Sinovac <br>
        es una vacuna segura y confiable. Se debe contar con total tranquilidad con esta vacuna, ha <br>
        demostrado ser eficaz”.<br>
        <br>
        De la misma forma reaccionó el director del Instituto de Salud Pública (ISP), Heriberto García, quien <br>
        también respaldó la vacuna de Sinovac: “Hay que dejar claro que la vacuna Sinovac lo que ha demostrado<br>
         es que logra su eficacia después de dos semanas de la segunda dosis. Los estudios de la Universidad <br>
         de Chile y los que sacará el Ministerio de Salud dicen lo mismo: se ha disminuido la cantidad de <br>
         hospitalizados y enfermos. Eso es un buen camino”, indicó.<br>
         <br>
        La vacuna, desarrollada con virus inactivado (el virus se inactiva por métodos físicos como el calor <br>
        o sustancias químicas y luego es administrada), en general está dispuesta en el país para mayores de<br>
         18 años y es también segura para una población de más de 60 años. Según los estudios ha demostrado <br>
         un 100% de eficacia para impedir casos graves con necesidad de hospitalización, un 78% para casos leves<br>
          y un 50,4% para personas con síntomas muy leves sin que requieran atención médica. Tras la primera <br>
          inoculación, deben pasar 28 días para la segunda dosis, mientras que el efecto de la vacuna se consigue<br>
           entre 14 y 28 días después.<br>
           <br>
        Stephania Passalacqua, miembro del Consejo Asesor científico para la estrategia de vacuna Covid-19, <br>
        señala que “desgraciadamente los dichos de esta persona en China alteraron la percepción que tiene la <br>
        gente sobre las vacunas, pero por suerte rápidamente los expertos salieron a desmentirlo. Fue un error <br>
        comunicacional. Con el estudio que se esta llevando a cabo en Chile, más lo que esta pasando con los <br>
        estudios en Brasil, uno puede quedar tranquilo. La vacuna es eficaz y segura”, dice.<br>
        <br>
        “Los resultados refuerzan el hecho que la vacuna de Sinovac efectivamente produce una respuesta de <br>
        formación de anticuerpos, como también una respuesta celular, que es muy importante para el control <br>
        de una infección viral en los voluntarios que se analizaron”, apunta Passalacqua, quien además es <br>
        infectóloga y académica de la Escuela de Medicina U. Austral.<br>
        <br>
        “Esto después se va extrapolando a los casos de incidencia de infección y saber en porcentajes qué tan <br>
        efectiva es la vacuna, pero se han ido corroborando los datos de respuesta inmune en las personas <br>
        inoculadas, que se protegen de la infección sobre todo en sus manifestaciones graves”, añade.<br>
        <br>
        La experta además reafirma lo segura que es la vacuna: “En estos voluntarios no se observó ninguna <br>
        reacción importante, sólo dolor en el sitio de inyección en más o menos la mitad de los inoculados, <br>
        una reacción muy común y esperable, y sin la emergencia de reacciones importantes. Eso es fundamental <br>
        para tranquilizar a la población”, sostiene.<br>
        <br>
        Passalacqua asegura que aún así, “tendremos que esperar resultados que hablen de cuántas personas <br>
        vacunadas después de dos dosis y un periodo de 28 días se infectan vs los no vacunados. Pero lo que <br>
        uno puede observar, dado que en la población que trabaja en los hospitales, la mayoría estamos vacunados <br>
        con CoronaVac, es lo poco frecuente de infecciones graves en las personas vacunadas. Esa información tiene<br>
        que ser tabulada, pero lo que se ve en este momento es que las personas que se hospitalizan por infección <br>
        grave habitualmente, no están vacunadas o sólo tienen una dosis”, puntualiza.<br>
        <br>
        “Hay que reforzar el hecho que las vacunas son parte de la estrategia de prevención, pero no son la única <br>
        estrategia. Mientras no se alcanza una inmunidad, se deben mantener todas las medidas de precaución. A pesar<br>
         de estar vacunados hay que sostener las medidas a futuro, porque el panorama va cambiando rápido, la <br>
         emergencia de variantes nos puede hacer modificar el escenario”, dice.<br>
         <br>
        En efecto, además de las investigaciones en Chile, los ojos de los científicos están puestos en Brasil,<br>
         país que ha sido afectado gravemente por el virus y en donde circulan al menos tres variantes conocidas. <br>
         Es ello que un pequeño municipio paulista decidió sumarse a un curioso experimento.<br>
         <br>
        El “proyecto S”<br>
        <br>
        Este fin de semana y tras la polémica suscitada por las declaraciones del funcionario chino, el instituto <br>
        Butantan en Brasil aseguró que la efectividad de la vacuna de Sinovac para prevenir contagios sintomáticos <br>
        se incrementa al 62,3% al aplicarse dos dosis con más de 21 días de diferencia, mientras que para el <br>
        procedimiento de dosis con intervalos de 14 días, la efectividad alcanzaría el 50,7% en evitar casos <br>
        sintomáticos y 83,7% en impedir casos moderados, sin registrarse casos graves o muertes en la muestra. Esto<br>
         considerando que en el país circulan otras variantes, ante lo cual los estudios indicaron buenos resultados<br>
          de protección.<br>
          <br>
        Una de las investigaciones finalizó este lunes: Se trata del “Proyecto S”, iniciativa en la que el instituto<br>
         brasileño, junto al municipio de Serrana, determinó inmunizar a toda su población adulta, buscando medir <br>
         la eficacia en las medidas de vacunación masiva.<br>
         <br>
        De las personas aptas para el experimento, se registraron 28.380 voluntarios, de los cuales 27.722 recibieron<br>
         la primera dosis y 27.160 tuvieron ambas dosis. Aunque los resultados se darán a conocer en mayo, los <br>
         científicos anunciaron que las hospitalizaciones y casos graves habían disminuido. Además, esperan conocer <br>
         qué tan efectiva es la vacuna contra las variantes brasileñas del virus, en especial la P.1.<br>
         <br>
        El académico de la Universidad Católica y director del Instituto Milenio en Inmunología e Inmunoterapia, Alexis <br>
        Kalergis, señala que “hay que recordar que en Brasil circula ampliamente la variante P.1 de SARS-CoV-2, con lo <br>
        que los resultados de este estudio fase 3, además de otro estudio publicado la semana pasada son alentadores en <br>
        términos de la protección que podría lograrse con CoronaVac contra esta variante de preocupación”.<br>
        <br>
        “Es importante también destacar que estudios clínicos realizados para esta vacuna han demostrado que aplicar <br>
        la segunda dosis 28 días después genera una mejor respuesta de anticuerpos neutralizantes que luego de 14 días,<br>
         lo cual corrobora lo previamente publicado por los estudios en China y coincide con los datos que estamos <br>
         obteniendo en el estudio hecho en Chile. Este último esquema fue el que se aplicó en el estudio fase 3 de Brasil <br>
         y en este estudio también reportaron una eficacia mayor para los voluntarios de ese estudio que se aplicaron la <br>
         segunda dosis después de 21 días (62.3%)”, añade.<br>
         <br>
        “En Chile actualmente se está utilizando el esquema de vacunación 0-28, por lo que resultados de efectividad en <br>
        la población podrían indicar también un nivel de protección mayor frente a enfermedad sintomática. Por lo tanto, <br>
        y a pesar de que la campaña de vacunación lleva sólo un poco más de dos meses, es importante que se vayan realizando <br>
        estudios de efectividad poblacional y que se conozcan los resultados. Además hay que esperar un poco más de tiempo <br>
        para obtener datos más robustos sobre el comportamiento de la vacuna en el mundo real, fuera del contexto del estudio<br>
         clínico. En este sentido, el Ministerio de Salud recientemente informó que comunicará resultados de efectividad, <br>
         obtenidos hasta la fecha, de la vacuna de Sinovac en Chile”, indicó Kalergis.<br>
         <br>
        Posible efecto rebaño<br>
        <br>
        Por el lado de la inmunidad de rebaño, vale decir la protección indirecta contra una enfermedad infecciosa que ocurre <br>
        cuando una población es inmune, ya sea por vacunación o por la inmunidad desarrollada a través de una infección previa, <br>
        el Dr. Luis Miguel Noriega, jefe del departamento de Medicina Interna de Clínica Alemana, apunta que “ésta se logra <br>
        cuando hay un porcentaje suficiente de la población con inmunidad, asumiendo que eso genera una circulación menor del <br>
        virus, por lo que quienes no tienen inmunidad están menos expuestos”.<br>
        <br>
        “Para lograrlo depende de varios factores: cuántas personas generen inmunidad natural por la infección, y cuántas <br>
        personas generen inmunidad por la vacuna, dependiendo de la calidad del medicamento del punto de vista de cuánto es<br>
         capaz de prevenir la infección. Por lo tanto, no tenemos que estar poniendo una fecha para hablar de inmunidad de <br>
         rebaño. La idea es poner una meta para lograr disminuir la circulación del virus en el país, y en ese sentido la <br>
         movilidad es clave: es responsabilidad de todos, no sólo preocuparnos de lo que nos prohíben o permiten hacer, sino <br>
         tomar conciencia de operar y ser cuidadosos. Cubrirse cuando estamos en lugares públicos, evitar la cercanía con las<br>
          personas, el lavado de manos, etc”, agrega.<br>
          <br>
        Lo segundo es vacunarse. Las vacunas no son las que protegen, el vacunarse es lo que protege. Por lo tanto, si tenemos<br>
         un porcentaje de la población que no se vacuna, todo lo que pretendamos hacer para una protección global de nuestra <br>
         población va a ser menos eficiente. La vacuna que tenemos es adecuada, han habido suficientes estudios que han mostrado <br>
         su nivel de eficacia y por lo tanto, el llamado es a vacunarse. Todos tenemos que cooperar”, sostiene.<br>
    </h3>

          <!--formulario-->  
      
          <div class="modal fade" style=" background-position: center center;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">   
            <div class="modal-dialog modal-dialog-centered modal-lg"style= "width: auto">
              <div class="container-fluid">
                <form class="needs-validation" onsubmit="return validar(this)" novalidate>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        
                            <div class="form-row">
                              
                                <div class="col-md-8 ">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" style= "width: auto" class="form-control" id="nombre" placeholder="Ingrese nombre" value="" required>
                                    <div class="valid-feedback">
                                        Correcto
                                    </div>
                                    <div class="invalid-feedback">
                                        Incorrecto
                                    </div>
                                </div>
    
                                <div class="col-md-8 ">
                                    <label for="apellido">Apellido</label>
                                    <input type="text"style= "width: auto" class="form-control" id="apellido" placeholder="Ingrese apellido" value="" required>
                                    <div class="valid-feedback">
                                        Correcto
                                    </div>
                                    <div class="invalid-feedback">
                                        Incorrecto
                                    </div>
                                </div>
    
                                <div class="col-md-8 ">
                                    <label for="usuario">Usuario</label>
                                    <input type="text"style= "width: auto" class="form-control" id="usuario" placeholder="Ingrese usuario" value="" required>
                                    <div class="valid-feedback">
                                        Correcto
                                    </div>
                                    <div class="invalid-feedback">
                                        Incorrecto
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="form-row">
    
                                <div class="col-md-8 ">
                                    <label for="Correo">Correo</label>
                                    <input type="text" style= "width: auto"class="form-control" id="correo" placeholder="Ingrese Correo" value="" required>
                                    <div class="valid-feedback">
                                        Correcto
                                    </div>
                                    <div class="invalid-feedback">
                                        Incorrecto
                                    </div>
                                </div>

                                <div class="col-md-8 ">
                                  <label for="Correo2">Confirme correo</label>
                                  <input type="text" style= "width: auto"class="form-control" id="correo2" placeholder="Ingrese Correo" value="" required>
                                  <div class="valid-feedback">
                                      Correcto
                                  </div>
                                  <div class="invalid-feedback">
                                      Incorrecto
                                  </div>
                              </div>
    
                                <div class="col-md-8 ">
                                    <label for="tipo">Region</label>
                                    <select class="custom-select"  id="tipo" required>
                                        <option selected disabled value="">Seléccione Región</option>
                                        <option> I Región de Tarapacá </option>
                                        <option> II Región de Antofagasta </option>
                                        <option> III Región de Atacama </option>
                                        <option> IV Región de Coquimbo </option>
                                        <option> V Región de Valparaíso </option>
                                        <option> VI Región del Libertador General B.O </option>
                                        <option> VII Región del Maule </option>
                                        <option> VIII Región del Biobío </option>
                                        <option> IX Región de La Araucanía </option>
                                        <option> X Región de Los Lagos </option>
                                        <option> XI Región Aysén del General C.I.C </option>
                                        <option> XII Región de Magallanes y Antártica Chilena </option>
                                        <option> XIIRegión Metropolitana de Santiago </option>
                                        <option> XIV Región de Los Ríos </option>
                                        <option> XV Región de Arica y Parinacota </option>
                                        <option> XVI Región de Ñuble </option>
                                    </select>
                                    <div class="valid-feedback">
                                        Correcto
                                    </div>
                                    <div class="invalid-feedback">
                                         Seleccione una opcion valida
                                    </div>
                                </div>
                              </div>
    
    
                           
    
                            <div class="form-group">
                              <div class="form-check">
                                <input class="form-check-input" style= "width: auto"type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                  Acepta las condiciones
                                </label>
                                <div class="invalid-feedback">
                                  No acepta
                                </div>
                              </div>
                            </div>
    
    
                            
                            <div class="modal-footer">
                              <button type="button" style= "width: auto" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                              <button type="submit"  style= "width: auto" class="btn btn-primary">Registrar</button>
                          </div>
                      </div>
                      </form> 
                  </div>    
          </div>>
    
    
    
             <!--fin formulario-->
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="{% static 'JQuery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js' %}" ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
          'use strict';
          window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
              }
              form.classList.add('was-validated');
              }, false);
          });
          }, false);
      })();
      </script>



    <script>
      function validar( f ){
          var correcto = true;
          var mensaje = "Campos vacios:";

          if(f.elements.nombre.value==""){//nombre
              correcto = false;
              mensaje = mensaje + "-Nombre";
          }

          if(f.elements.apellido.value==""){
              correcto = false;
              mensaje = mensaje + "-Apellido";
          }

          if(f.elements.usuario.value=="" ){
              correcto = false;
              mensaje = mensaje + "-Usuario";
          }

          if(f.elements.correo.value=="" ){
              correcto = false;
              mensaje = mensaje + "-Correo";
          }

          if(f.elements.correo2.value=="" ){
              correcto = false;
              mensaje = mensaje + "-Confirmación correo";
          }

          if(f.elements.tipo.value=="" ){
              correcto = false;
              mensaje = mensaje + "-Región";
          }

          if(correcto==false){
              alert(mensaje);
          }

          return correcto;

      }
  </script>

<script>

  $.get('https://mindicador.cl/api', function(data) {
    var dailyIndicators = data;
    $("<p/>", {
        html: 'El valor de UF es $' + dailyIndicators.uf.valor
    }).appendTo("p1");
  }).fail(function() {
    console.log('Error al consumir la API!');
  });
  </script>
  
  <script type="text/javascript" >
          $.get('https://mindicador.cl/api', function (data) {
              var dailyIndicators = data;
              $("<p/>", {
                  html: 'El valor de UTM es $' + dailyIndicators.utm.valor
              }).appendTo("p2");
          }).fail(function() {
              console.log('Error al consumir la API!');
          });
          </script>
  
          <script type="text/javascript" > 
          $.get('https://mindicador.cl/api', function(data) {
              var dailyIndicators = data;
              $("<p/>", {
                  html: 'El valor de la Libra de cobre es $' + dailyIndicators.libra_cobre.valor
              }).appendTo("p3");
          }).fail(function() {
              console.log('Error al consumir la API!');
          });
           </script>
  
          <script type="text/javascript" >  
          $.get('https://mindicador.cl/api', function(data) {
              var dailyIndicators = data;
              $("<p/>", {
                  html: 'El valor del Dolar es $' + dailyIndicators.dolar.valor
              }).appendTo("p4");
          }).fail(function() {
              console.log('Error al consumir la API!');
          });
  
  </script>

{% endblock %}
