{% extends 'base.html' %}

{% load static %}

{% block contenido %}


    <h1 align="center">Irán acusa a Israel de atacar una planta nuclear y promete venganza</h1> 
    <br>
    <h3 align="center">
        <img src="{% static 'Imagenes\iran acusa a israel.PNG' %}" alt=""> <br>
        <br>
        El suceso se registró en una zona de la red de distribución eléctrica <br>
        de Natanz, una planta de unos 100.000 metros cuadrados situada en el centro <br>
         del país y construida ocho metros bajo tierra. Israel no hizo comentarios hasta ahora. <br>
         <br>
         El ministro de Relaciones Exteriores iraní anunció este lunes que su país se "vengará" por <br>
         el ataque a un sitio nuclear subterráneo, del que acusó a Israel.<br>
         <br>
        Funcionarios iraníes dijeron que el complejo de enriquecimiento de uranio de Natanz, una planta <br>
        de unos 100.000 metros cuadrados situada en el centro del país y construida ocho metros bajo <br>
        tierra, fue blanco del "terrorismo nuclear" el domingo, luego de informar inicialmente de un corte<br>
         de energía.<br>
         <br>
        En Natanz acababan de activarse unas centrifugadoras avanzadas nuevas para enriquecer uranio.<br>
        <br>
        Israel no hizo comentarios hasta ahora, pero la radio pública citó fuentes de inteligencia diciendo<br>
         que se trataba de una operación cibernética del Mossad.<br>
         <br>
        Agregaron que había causado un daño más extenso de lo que Irán había informado.<br>
        <br>
        "Nos vengaremos"<br>
        <br>
        En los últimos días, Israel intensificó sus advertencias sobre el programa nuclear iraní, en medio <br>
        de los esfuerzos por revivir el acuerdo nuclear de 2015, que fue abandonado por Donald Trump cuando <br>
        era presidente de Estados Unidos.<br>
        <br>
        Su sucesor, Joe Biden, ha dicho que quiere retomar el histórico acuerdo.<br>
        <br>
        Pero Irán y las otras cinco potencias que todavía forman parte del mismo (China, Francia, Alemania, <br>
        Rusia y Reino Unido) necesitan encontrar una manera para que EE.UU. levante las sanciones y para que <br>
        Teherán vuelva a los límites acordados sobre su programa nuclear.<br>
        <br>
        "Los sionistas quieren vengarse por nuestro progreso en el camino para levantar las sanciones", dijo<br>
         este lunes el ministro de Relaciones Exteriores iraní, Mohammad Javad Zarif, citado por los medios estatales.<br>
         <br>
        "Dijeron públicamente que no permitirán esto. Pero nos vengaremos de los sionistas".<br>
        <br>
        Crisis nuclear de Irán: lo básico<br>
        <br>
        Las potencias mundiales no confían en Irán: algunos países creen que Irán quiere energía nuclear para construir<br>
         una bomba nuclear; Teherán lo niega.<br>
         <br>
        En 2015 se llegó a un acuerdo: Irán y otros seis países acordaron que Teherán limitara su programa nuclear<br>
         a cambio del fin a las duras sanciones que dañan su economía.<br>
         <br>
        ¿Cuál es el problema ahora? Irán reinició las operaciones nucleares prohibidas después de que Donald Trump <br>
        retirara a EE.UU. del acuerdo y volviera a imponer sanciones a Irán. Aunque el actual presidente, Joe Biden,<br>
         quiere volver al acuerdo, ambas partes dicen que la otra debe dar el primer paso.<br>
         <br>
         Los daños <br>
        El portavoz del Ministerio de Relaciones Exteriores Saeed Khatibzadeh dijo en una conferencia de <br>
        prensa en Teherán este lunes que Israel estaba "por supuesto" detrás del ataque a la planta de Natanz <br>
        <br>
        <img src="{% static 'Imagenes\iran2.PNG' %}" alt=""> <br>
        <br>
        "Este incidente, afortunadamente, no causó pérdida de vidas humanas ni daños al medioambiente. Sin embargo, pudo <br>
        haber sido una catástrofe. Este es un crimen de lesa humanidad y tales acciones están acordes con la esencia del <br>
        régimen sionista", agregó.<br>
        <br>
        Funcionarios de inteligencia estadounidenses le dijeron a The New York Times que una gran explosión había destruido <br>
        por completo el sistema de energía interno que alimenta las centrifugadoras dentro de la instalación subterránea.<br>
        <br>
        Estimaron que podría llevar al menos nueve meses reanudar los trabajos de enriquecimiento de uranio en la planta.<br>
        <br>
        Por su parte, Khatibzadeh dijo que solo las centrifugadoras menos eficientes "IR1" resultaron dañadas en el incidente <br>
        y que serían reemplazadas por otras más avanzadas.<br>
        <br>
        El acuerdo nuclear solo permite a Irán usar centrifugadoras IR1 para producir cantidades limitadas de uranio enriquecido <br>
        con una concentración de hasta 3,67%, que puede usarse para producir combustible para plantas de energía nuclear comerciales.<br>
        <br>
        El uranio enriquecido al 90% o más se puede utilizar para fabricar armas nucleares.<br>
        <br>
        Irán, que insiste en que no quiere desarrollar armas nucleares, ha tomado represalias contra las sanciones <br>
        restablecidas por la administración Trump.<br>
        <br>
        Entre ellas se incluyen el uso de centrifugadoras avanzadas y la reanudación del enriquecimiento a una concentración <br>
        del 20%.
            </h3>

           <!--formulario-->  
      
           <div class="modal fade" style=" background-position: center center;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">   
            <div class="modal-dialog modal-dialog-centered modal-lg"style= "width: auto">
              <div class="container-fluid">
                <form class="needs-validation" onsubmit="return validar(this)" novalidate>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        
                            <div class="form-row">
                              
                                <div class="col-md-8 ">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" style= "width: auto" class="form-control" id="nombre" placeholder="Ingrese nombre" value="" required>
                                    <div class="valid-feedback">
                                        Correcto
                                    </div>
                                    <div class="invalid-feedback">
                                        Incorrecto
                                    </div>
                                </div>
    
                                <div class="col-md-8 ">
                                    <label for="apellido">Apellido</label>
                                    <input type="text"style= "width: auto" class="form-control" id="apellido" placeholder="Ingrese apellido" value="" required>
                                    <div class="valid-feedback">
                                        Correcto
                                    </div>
                                    <div class="invalid-feedback">
                                        Incorrecto
                                    </div>
                                </div>
    
                                <div class="col-md-8 ">
                                    <label for="usuario">Usuario</label>
                                    <input type="text"style= "width: auto" class="form-control" id="usuario" placeholder="Ingrese usuario" value="" required>
                                    <div class="valid-feedback">
                                        Correcto
                                    </div>
                                    <div class="invalid-feedback">
                                        Incorrecto
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="form-row">
    
                                <div class="col-md-8 ">
                                    <label for="Correo">Correo</label>
                                    <input type="text" style= "width: auto"class="form-control" id="correo" placeholder="Ingrese Correo" value="" required>
                                    <div class="valid-feedback">
                                        Correcto
                                    </div>
                                    <div class="invalid-feedback">
                                        Incorrecto
                                    </div>
                                </div>

                                <div class="col-md-8 ">
                                  <label for="Correo2">Confirme correo</label>
                                  <input type="text" style= "width: auto"class="form-control" id="correo2" placeholder="Ingrese Correo" value="" required>
                                  <div class="valid-feedback">
                                      Correcto
                                  </div>
                                  <div class="invalid-feedback">
                                      Incorrecto
                                  </div>
                              </div>
    
                                <div class="col-md-8 ">
                                    <label for="tipo">Region</label>
                                    <select class="custom-select"  id="tipo" required>
                                        <option selected disabled value="">Seléccione Región</option>
                                        <option> I Región de Tarapacá </option>
                                        <option> II Región de Antofagasta </option>
                                        <option> III Región de Atacama </option>
                                        <option> IV Región de Coquimbo </option>
                                        <option> V Región de Valparaíso </option>
                                        <option> VI Región del Libertador General B.O </option>
                                        <option> VII Región del Maule </option>
                                        <option> VIII Región del Biobío </option>
                                        <option> IX Región de La Araucanía </option>
                                        <option> X Región de Los Lagos </option>
                                        <option> XI Región Aysén del General C.I.C </option>
                                        <option> XII Región de Magallanes y Antártica Chilena </option>
                                        <option> XIIRegión Metropolitana de Santiago </option>
                                        <option> XIV Región de Los Ríos </option>
                                        <option> XV Región de Arica y Parinacota </option>
                                        <option> XVI Región de Ñuble </option>
                                    </select>
                                    <div class="valid-feedback">
                                        Correcto
                                    </div>
                                    <div class="invalid-feedback">
                                         Seleccione una opcion valida
                                    </div>
                                </div>
                              </div>
    
    
                           
    
                            <div class="form-group">
                              <div class="form-check">
                                <input class="form-check-input" style= "width: auto"type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                  Acepta las condiciones
                                </label>
                                <div class="invalid-feedback">
                                  No acepta
                                </div>
                              </div>
                            </div>
    
    
                            
                            <div class="modal-footer">
                              <button type="button" style= "width: auto" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                              <button type="submit"  style= "width: auto" class="btn btn-primary">Registrar</button>
                          </div>
                      </div>
                      </form> 
                  </div>    
          </div>>
    
    
    
             <!--fin formulario-->       

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="{% static 'JQuery/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js' %}" ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
          'use strict';
          window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
              }
              form.classList.add('was-validated');
              }, false);
          });
          }, false);
      })();
      </script>



    <script>
      function validar( f ){
          var correcto = true;
          var mensaje = "Campos vacios:";

          if(f.elements.nombre.value==""){//nombre
              correcto = false;
              mensaje = mensaje + "-Nombre";
          }

          if(f.elements.apellido.value==""){
              correcto = false;
              mensaje = mensaje + "-Apellido";
          }

          if(f.elements.usuario.value=="" ){
              correcto = false;
              mensaje = mensaje + "-Usuario";
          }

          if(f.elements.correo.value=="" ){
              correcto = false;
              mensaje = mensaje + "-Correo";
          }
          
          if(f.elements.correo2.value=="" ){
              correcto = false;
              mensaje = mensaje + "-Confirmación correo";
          }

          if(f.elements.tipo.value=="" ){
              correcto = false;
              mensaje = mensaje + "-Región";
          }

          if(correcto==false){
              alert(mensaje);
          }

          return correcto;

      }
  </script>

<script>

  $.get('https://mindicador.cl/api', function(data) {
    var dailyIndicators = data;
    $("<p/>", {
        html: 'El valor de UF es $' + dailyIndicators.uf.valor
    }).appendTo("p1");
  }).fail(function() {
    console.log('Error al consumir la API!');
  });
  </script>
  
  <script type="text/javascript" >
          $.get('https://mindicador.cl/api', function (data) {
              var dailyIndicators = data;
              $("<p/>", {
                  html: 'El valor de UTM es $' + dailyIndicators.utm.valor
              }).appendTo("p2");
          }).fail(function() {
              console.log('Error al consumir la API!');
          });
          </script>
  
          <script type="text/javascript" > 
          $.get('https://mindicador.cl/api', function(data) {
              var dailyIndicators = data;
              $("<p/>", {
                  html: 'El valor de la Libra de cobre es $' + dailyIndicators.libra_cobre.valor
              }).appendTo("p3");
          }).fail(function() {
              console.log('Error al consumir la API!');
          });
           </script>
  
          <script type="text/javascript" >  
          $.get('https://mindicador.cl/api', function(data) {
              var dailyIndicators = data;
              $("<p/>", {
                  html: 'El valor del Dolar es $' + dailyIndicators.dolar.valor
              }).appendTo("p4");
          }).fail(function() {
              console.log('Error al consumir la API!');
          });
  
  </script>

{% endblock %}